body {
  margin-right: 0;
}
.ml-auto {
  margin-left: auto;
}
#title {
  background-color: #ff4c68;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
.log-font {
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  margin-bottom: 30px;
}
.container-fluid {
  padding: 3% 5%;
}
.rotateimg {
  /* -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); */
  transform: rotate(25deg);
  margin-left: 75px;
  margin-bottom: 100px;
}
.fnt-sz {
  font-size: 40px;
  font-family: "Akaya Kanadaka", cursive;
  margin-left: 10px;
  text-decoration: none;
  margin-bottom: 30px;
}
.navbar {
  padding-top: auto;
  padding-bottom: 80px;
}
.nav-item {
  padding: auto 50%;
}
.dwnd-btn {
  margin: 10% 5% 2% 2%;
}
.to-cen {
  text-align: center;
  height: 350px;
  margin-top: 200px;
}
.fa-check-circle {
  color: #ef8172;
  font-size: 75px;
  margin-bottom: 15px;
}
.hea-mon {
  font-size: 1.5rem;
  font-family: "Montserrat-bold", sans-serif;
}
.fa-dot-circle {
  color: #ef8172;
  font-size: 75px;
  margin-bottom: 15px;
}
.fa-heart {
  color: #ef8172;
  font-size: 75px;
  margin-bottom: 15px;
}
.fa-heart:hover {
  color: #ff4c68;
  font-size: 75px;
}
.p-fnt {
  color: #8f8f8f;
  font-size: 20px;
}
.mid-div {
  background-color: #ff4c68;
  padding: 3% 15%;
  text-align: center;
  /* margin-bottom: 150px; */
  /* height: 300px; */
}
.press-img {
  height: 40px;
}
.dog-img {
  height: 100px;
  border-radius: 50%;
  margin-bottom: 50px;
}
.hea-mid {
  font-size: 30px;
  margin-bottom: 50px;
}
.testimonial-text {
  font-size: 30px;
  margin-bottom: 50px;
}
.testimonial-image {
  margin-bottom: 50px;
}
#press {
  background-color: #ff4c68;
  padding: 3% 15%;
  text-align: center;
}
.girl-img {
  height: 150px;
  border-radius: 50%;
  margin-bottom: 50px;
}
